


.bottomimgs{
height: 250px;
width: 250px;
}
ul li{
    list-style: none;
     border-radius: 15px;
      overflow: hidden;
}
.footerWrapper1{
   display: flex;
    position: relative;
    top: 250px;
    justify-content: space-evenly;
   
}