.App {
   font-family: 'MontrealRegular';

}

.containerHeader{
  height: 65px;
  
  display: flex;
  justify-content: space-between;
}
.airbnbLogo{
 
}
.headerMiddle{
  display: flex;
}
.headerEnd{
 background-color: yellow;
}