.App {
   font-family: 'MontrealRegular';

}

.containerHeader{
  height: 65px;
  background-color: red;
  display: flex;
  justify-content: space-between;
}
.airbnbLogo{
  background-color: green;
}
.headerMiddle{
  background-color: blue;
}
.headerEnd{
 background-color: yellow;
}