.App {
   font-family: 'MontrealRegular';

}

.marginRight{
  margin-right: 30px;
}

.containerHeader{
  height: 65px;
  
  display: flex;
  justify-content: space-between;
}

.headerMiddle{
  display: flex;

  
}
.headerEnd{
 background-color: yellow;
 display: flex;
}
.svgIcon{
 background-color:  rgb(255,65,78); 
 border-radius: 50%;
 position: relative;
 top: -8px;
}
