 .color{
  color: rgb(255,65,78);
  font-size: 200px;
    font-family: 'MontrealRegular';
   font-weight: normal;
   font-style: normal;
 display: flex;
 justify-content: center;
 margin: 0;
 letter-spacing: -18px;
 }
 .wrapper{
   display: flex;
   position: relative;
   
 }

 img{
      margin: 0;
  position: relative;
  top: 45px;
 
  -webkit-animation: rotateY 1s infinite linear;
  animation: rotateY 20s infinite linear;
 }
@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}