 .color{
  color: rgb(255,65,78);
  font-size: 200px;
    font-family: 'MontrealRegular';
   font-weight: normal;
   font-style: normal;
 display: flex;
 justify-content: center;
 margin: 0;
 letter-spacing: -18px;
 }
 .wrapper{

   display: flex;
     margin: 0;
position: relative;
  top: 280px;
margin-left: auto;
    margin-right: auto;
 display: flex;
 justify-content: center;
 justify-self: center;
  transform: translateY(-50%);
  text-align: center;
   
 }

.logo{
      margin: 0;
  position: relative;
  top: 45px;
 
  -webkit-animation: rotateY 1s infinite linear;
  animation: rotateY 20s infinite linear;
 }
@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}